[master]
port = 35353

[server-selection]
enabled = true
#strategy = "lowest_tick_time"
strategy = "weighted_tick_players"
timeW = 5.0
playerW = 1.0

[drain-server]
enabled = true
port = 8080
strategy = "default"

[scaling]
enabled = true
#strategy = "none" # none means no scaling
strategy = "tick_length_v2"
scaleUpRatio = 0.3
scaling-interval = 30

[migration]
strategy = "none" # none means no migration
migration-interval = 60
