name: Generate Jars
on:
  push:
    tags:
      - 'v*'
jobs:
  bundler:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          cache: 'gradle'
          distribution: 'temurin'
      - name: Configure Git User Details
        run: git config --global user.email "actions@github.com" && git config --global user.name "Github Actions"
      - name: Apply Patches
        run: ./gradlew applyPatches --stacktrace
      - name: Build Bundler jar
        run: ./gradlew shadowjar createReobfBundlerJar --stacktrace
      - name: Upload Bundler jar
        uses: actions/upload-artifact@v4
        with:
          name: multipaper.jar
          path: build/libs/multipaper-bundler-*-reobf.jar
      - name: Upload MultiPaper-Master jar
        uses: actions/upload-artifact@v4
        with:
          name: multipaper-master.jar
          path: MultiPaper-Master/build/libs/multipaper-master*.jar
      - name: Publish package
        run: ./gradlew :MultiPaper-API:publish --stacktrace
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Rename artifact
        run: mv build/libs/multipaper-bundler-*-reobf.jar build/libs/multipaper.jar && mv MultiPaper-Master/build/libs/multipaper-master*.jar build/libs/multipaper-master.jar
      - name: Create Release
        uses: softprops/action-gh-release@v2
        id: release
        with:
          files: |
            build/libs/multipaper.jar
            build/libs/multipaper-master.jar
          generate_release_notes: true
          name: Build ${{ github.run_number }}
          fail_on_unmatched_files: true
          draft: true
